

.filter {
padding-top: 20px;
        background-color: var(--background-white);
        border-radius: 0px 0px 10px 10px;
}
.shops {
    --card-item-count:2;
    justify-content: center;

        @media screen and (min-width: 768px) {
    --card-item-count: 4;
        }
    
        @media screen and (min-width: 1200px) {
    --card-item-count: 8;
        }
}

.shops__link {
    background-color: var(--background-dark-gray);
    // width: 100%;
    height: 110px;
    display: block;
    padding: 5px;
    border: 1px solid var(--accent-orange);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: background-color var(--time-animatio) var(--cubic-bezier)
}
.shops__link:hover {
    background-color: var(--accent-orange);
}
.shops__icon {
    fill: var(--accent-orange);
    
    transition: fill var(--time-animatio) var(--cubic-bezier)
}
.shops__link:hover .shops__icon {
    fill: var(--background-white);
}