:root {
--card-gap: 16px;
}

.filter {
        background-color: var(--background-black);
            padding-top: 20px;
            padding-bottom: 20px;
            border-radius: 0px 0px 10px 10px;
}
.shops {
    justify-content: center;

}
.shops__link {
    background-color: var(--background-dark-gray);
    width: 110px;
    height: 110px;
    display: block;
    padding: 5px;
    border: 1px solid var(--accent-orange);
    border-radius: 10px;

    transition: background-color var(--time-animatio) var(--cubic-bezier)
}
.shops__link:hover {
    background-color: var(--accent-orange);
}
.shops__icon {
    fill: var(--accent-orange);
    
    transition: fill var(--time-animatio) var(--cubic-bezier)
}
.shops__link:hover .shops__icon {
    fill: var(--background-white);
}