.footer {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--background-black);
}

.footer-container {

    @media screen and (min-width: 480px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
        }

}

//Social________________________________________

.social-list{
    justify-content: center;
    margin-bottom: 10px;
    }



.social-list__icon--white {
    fill: var(--background-white);
}



// Mobile app______________________________________
.apps {
    display: flex;
    justify-content: center;
}

.apps__item:not(:last-child) {
    margin-right: 5px;
}

.apps__link--apple {
    border-radius: 10px 0px 0px 10px;
    padding: 0px 3px 0px 30px;

}
.apps__link--android {
    border-radius: 0px 10px 10px 0px;
    padding: 0px 30px 0px   3px;
}

.apps__link {
    display: block;
    background-color: var(--background-white-transperent);
    transition: background-color var(--time-animatio) var(--cubic-bezier);
    }

.apps__link:hover {
    background-color: var(--accent-orange);
}