.goods__list{
  --card-item-count: 1;
  margin-bottom: 30px; 
  justify-content: center; 

@media screen and (min-width: 480px) {
      --card-item-count: 1;
  }

  @media screen and (min-width: 768px) {
      --card-item-count: 3;
  }

  @media screen and (min-width: 1200px) {
      --card-item-count: 4;
  }
}
.goods__item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
border: 1px solid rgb(197, 197, 197);
padding:15px;
background-color: var(--background-white);
border-radius: 10px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);


  @media screen and (min-width: 480px) {
      width: 480px;
    }
  
    @media screen and (min-width: 768px) {
      width: 768px;
    }
  
    @media screen and (min-width: 1200px) {

      width: 1200px;
    }
}
.goods__item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.delete-button {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 10px;
  right: 15px;

  padding: 0;
  border: transparent;
  border-radius: 50%;
  box-shadow: var(--shadow);
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;


  fill: var(--background-black);
  // transform: rotate(0deg);

  cursor: pointer;
  transition: fill var(--time-animatio) var(--cubic-bezier), transform var(--time-animatio) var(--cubic-bezier);

  &:hover,
  &:focus {
    fill: rgb(196, 44, 7);
    // transform: rotate(90deg);
        
  }
  display: none;
}



.goods__name {
  font-weight: 700;
  font-size: 22px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 20px;
}
.goods__image {
  margin: 0 auto;
  margin-bottom: 20px;
}

.goods__description {
    font-size: 14px;
    line-height: 1.3;
    text-align: center;
    color: var(--text-gray);
    margin-bottom: 10px;
    flex-grow: 1;

}
.goods__box {
  height: 100px;
}

.goods__prise {
    font-weight: 700;
    font-size: 20px;
    line-height: 1.3;
    text-align: center;
  
    color: var(--text-black);
    margin-bottom: 10px;
}

// Button__________________________________

.goods__button {
  margin-top: auto; 
  // display: none;
}
.order {
  justify-content: end;
}
.basket-icon--black {
  margin-left: 10px;
  fill: var(--background-black);
}


// Counter________________________________
.counter {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
  display: none;
}
.counter__button {
  font-weight: 700;
  font-size: 10px;
  text-align: center;


width: 35px;
height: 35px;
background-color: var(--accent-green);
border: none;
border-radius: 10%;
margin: 10px;
}
.counter__button:hover {
  background-color: var(--accent-green-hover);
}

.count {
    font-weight: 700;
    font-size: 15px;
    text-align: center;
}