.logo {
    font-family: var(--font-decor);
    font-weight: 400;
    font-size: 48px;
    line-height: 1.15;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--accent-green);

    text-decoration: none;
    margin-right: 20px;
    transition: color var(--time-animatio) var(--cubic-bezier);

@media screen and (min-width: 1200px) {
                margin-right: 50px;
            }
}
.logo:hover {
    color: var(--accent-green-hover);
}

.logo__icon {
    fill: var(--accent-orange);
}